*{
    padding: 0px;
    margin: 0px;
   
}

#accountouter{
    position: relative;
    width: 100%;
    height:100vh;
    background-image: linear-gradient(75deg,rgb(210, 133, 17),rgb(143, 40, 19));
    display: flex;
   font-weight: bold;
 
   
   
 
   
}
#form1{
  
    margin-top: 120px;
    color: #000;
    
    margin-left: -350px;
}
.acc{
    
    width: 250px;
    height: 30px;
    top: 50px;
    text-align: center;
    background-color: black;
   margin-left: 25%;
   justify-content: center;
    color: #fff;
    outline: none;
    border: 3px solid rgb(134, 83, 237);
    border-radius: 10px;
}
#sub1{
   
    width: 100px;
    height: 30px;
    background-color: rgb(146, 232, 146);
    border: 3px rgb(185, 0, 136) solid;
    border-radius: 10px;
    margin-top: 30px;
   margin-left: 150px;
   font-weight: bolder;
   box-shadow: 3px 3PX 5PX  black;
}
#create{
 
margin-top: 30px;
    font-size: 40px;
    color: #fff;
   margin-left: 600px;
    
    
}
#account{
    top: 250px;
    right: -40px;
    font-size: 20px;
    color: #fff;
}
#click1{
    position: absolute;
    top: 250px;
    width: 100px;
    height: 30px;
    margin-left: 640px;
    font-size: 20px;
    
    background-color: rgb(83, 19, 231);
border: 3px ridge black;
color:white;
border-radius: 5px;
    
}
#sub2{
    width: 100px;
    height: 40px;
    background-color: rgb(189, 146, 232);
    border: 3px black solid;
    border-radius: 10px;
   margin-left: 10px;
   font-weight: bolder;
   box-shadow: 3px 3PX 5PX  black;
   font-size: 30px;
   color: #000;
   text-align: center;
   

}
#result{
    margin-left: 600px;
}
#h{
    width: 80px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-left: 20px;
  margin-top: 20px;
  text-align: center;
 font: 1.3em sans-serif;
 padding-top: 10px;
    box-shadow: 0px 0px 10px 4px black;
  }
