*{
    padding: 0px;
    margin: 0px;

}
#outer{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(75deg,rgb(231, 101, 122),rgba(255, 166, 0, 0.619));
    
}
#inner{
    position: relative;
    width: 40%;
    height: 50vh;
  left: 30%;
  top: 100px;
    background-image: linear-gradient(75deg,royalblue,rgb(191, 31, 164));
    
    border-radius: 10px;
    
    
    box-shadow: 0px 0px 10px 4px rgb(22, 0, 0);
   
   

}
.a{
   
   
    width: 300px;
   margin-top: 50px;
    height: 30px;
   margin-left: 150px;
 text-align: center;
 border: 3px solid rgb(76, 227, 189);
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
    box-shadow: 0px 0px 10px 2px rgb(22, 0, 0);
    outline: none;
    background-color: black;
    color: #fff;

}
button{
    width: 80px;
    height: 40px;
    margin-left: 250px;
    border: 5px solid rgb(10, 1, 7);
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
    box-shadow: 0px 0px 7px 4px black;
    background-color:red;
    color: #fff;
}
#h{
    position: absolute;
    width: 80px;
    height: 30px;
top: 1git 0px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-left: 20px;

  text-align: center;
 font: 1.3em sans-serif;
 
    box-shadow: 0px 0px 10px 4px black;
  }

